<?xml version="1.0" encoding="utf-8"?>

<!--
NLog has the following log levels.
1. Trace – The entire trace of the codebase.
2. Debug – Useful while developing the application.
3. Info – A general message.
4. Warn – Used for unexpected events.
5. Error – When something breaks.
6. Fatal – When something very crucial breaks.
-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      throwExceptions="true" 
      internalLogFile="~/f4lang/.logs/f4lang.nlog.log"
      internalLogLevel="Warn">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- configure metadata for logging purposes -->
  <variable name="appName" 
            value="SlowProxyAPI" />
  <variable name="localDateTime" 
            value="${date:format=yyyy-MM-dd HH\:mm\:ss}" />

  <!-- configure log levels -->
  <!-- Commenting this out for reference, as using custom Log Levels caused warnings in IntelliSense - we will revisit this. 
  <variable name="defaultLogLevel" 
            value="${configsetting:item=Logging.LogLevel.Default}" />          
  -->

  <!-- configure log template -->
  <variable name="Layout" 
            value="${longdate:universalTime=true}|${level:uppercase=true}|${logger}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}" />
  
  <!-- configure log path -->
  <variable name="LogPath" 
            value="~/f4lang/.logs/${appName}-${assembly-version}-${shortdate}.log" />

  <!-- configure log targets -->
  <targets async="true">

    <target type="Null"
            name="BlackHole"
            formatMessage="false" />

    <target name="console"
            xsi:type="ColoredConsole"
            layout="${Layout}"
            detectConsoleAvailable="True" />

    <target name="file"
            xsi:type="File"
            layout="${Layout}"
            filename="${LogPath}" />

  </targets>

  <!-- configure logger rules -->
  <rules>
    <logger name="Microsoft.*" 
            writeTo="BlackHole"
            minlevel="Debug" 
            maxLevel="Info" 
            final="true" />
    <logger name="*" 
            writeTo="console" 
            minlevel="Debug" />
    <logger name="*" 
            writeTo="file" 
            minlevel="Info" />
  </rules>
</nlog>
